
<section class="slant">
    <br><br><br><br><br><br>
    <div class="content">
        <h2>Institutional Courses</h2>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<!-- ///////////////////////// -->


<section class="coursecards">
   <div container>
    <div class="row my-5 cardsrow"  *ngFor="let data of data">
        <div class="col-lg-4 mb-4">
               <div class="card">
          <div class="card-image"><img src="{{data.img1}}"></div>
          <div class="card-text">
            <h2>{{data.name}}</h2>
            <p>{{data.about}}</p>
          </div>
          <div class="card-stats">
           
            <div class="stat border">
              <a (click)='getDetails(data.name)'>Read more</a></div>
            </div> 
           
          </div>
  
              </div>
        </div>

  
  </div>
</section>