
 

  <!--  about design -->
  <section id="about">
    <div class="wrapper about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 left-wrapper">
            <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="800">
              <img src="https://us.123rf.com/450wm/merfin/merfin1904/merfin190402174/123917312-team-people-moving-business-invitation-and-corporate-party-design-training-courses-about-us-expert-t.jpg?ver=6" alt="about" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pt-md-5 right-wrapper">
            <div data-aos="fade-left" data-aos-delay="800">
              
                <h2>Premium Membership</h2>
                <p>ICT Academy of Kerala (ICTAK) is pleased to offer its Premium Memberships to selected Engineering , Science & Management Institutions and Polytechnics in the state. Through the programme, ICTAK will support its members institution’s Faculty members, Students and Staffs with quality training resources, certifications and Industry immersions on IR4.0 Technologies, and thereby enabling them to reach their Academic and Career potential.</p>
                
            </div>
 
            <div class="mt-5" data-aos="fade-up" data-aos-delay="100">
              <a routerLink="/viewacademicmembers" class="main-btn  ">View Members</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-3 our Key focuses -->
  <section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Benefits</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
              <div class="col-md-6 col-lg-1"></div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="https://www.kindpng.com/picc/m/332-3321464_transparent-college-degree-clipart-finished-studies-hd-png.png" class="img-fluid">
                  </div>
                  <div class="content">
                   
                    <!-- <p class="card-description">Industry focused enablement programmes for Faculty members</p> -->
                <h3>For Students</h3>
                <ul>
                    <li>Free training on industrial skills with global leaders like Microsoft, Oracle Academy, Google, Salesforce, AWS, and AAU in IR 4.0 technology domain.</li>
                    <li>Students from partner institutions benefit from the learning enrichment programs like ICSET, Techathlon, and Student Top 10.</li>
                </ul>  
                </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://comps.gograph.com/chalkboard-and-professor-college-or-university-teacher-teach-at-blackboard-academic-teaching-cartoon-vector-illustration_gg105513780.jpg" class="img-fluid">
                    </a>
                  </div>
                  <div class="content">
                    <!-- <p class="card-description">Industry focused ICT Skills development programmes for Students</p> -->
                    <h3>For Faculty</h3>
                    <ul>
                        <li>Faculty Benefits Access to Partner Curriculum.</li>
                        <li>Faculty development program from Salesforce, Oracle Academy, Google, and Microsoft.</li>
                        <li>Industrial visit. Opportunity to see, interact, and experience the industry innovations.</li>
                        <li>Opportunity to publish their works in our international magazine.</li>
                    </ul>
                </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="https://cdn.w600.comps.canstockphoto.com/school-building-eps-vector_csp12374647.jpg" class="img-fluid">
                  </div>
                  <div class="content">
                    <!-- <p class="card-description">Project assignments related to capability building for Institutions and Corporate </p> -->
                    <h3>For Institutions</h3>
                    <ul>
                        <li>Access to ICTAK corporate partner pre-programs and events.</li>
                        <li>Employability Quotient Test (EQT) to all the students to know their industrial skills.</li>
                        <li>Support for educators on partner program curriculum delivery and integration.</li>
                        <li>Connection and support to virtual and on-campus events.</li>
                        <li>Joint PR opportunities with ICT Academy of Kerala.</li>
                    </ul>
                </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="zoom-in" data-aos-delay="100">
                  <div class="card-image">
                    <img src="" class="img-fluid">
                  </div>
                  <div class="content">
                    <p class="card-description">Creating Intellectual Property on niche skill areas and emerging technologies.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-4 Partners design -->
<!-- 
  <section id="partners" class="partners">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Partners</h2>
        <p>Industrial Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of industryPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      <div class="section-title">
        
        <p>Knowledge Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of knwdgPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      
    </div>
  </section>
 
  <div class="clearfix"></div>   -->
<section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Number of candidates trained on various skills in FY 20-21</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
                <section class="companies">
                    <div class="container text-center">
                      <div class="row g-5">
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Faculty Development Program</h4>
                          <p style="color:black;">1</p>
                        </div>
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Full Stack Development</h4>
                          <p style="color:black;">1</p>
                        </div>
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Salesforce</h4>
                          <p style="color:black;">1</p>
                        </div>
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Micro Skills</h4>
                          <p style="color:black;">1</p>
                        </div>
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Virtual Internships</h4>
                          <p style="color:black;">1</p>
                        </div>
                        <div class="col-md-2">
                          <img
                            src="https://previews.123rf.com/images/taufikramadhan17/taufikramadhan172002/taufikramadhan17200200336/141142813-innovation-icon-online-learning-and-course-icon-perfect-for-application-web-logo-and-presentation-te.jpg"
                            alt="Company logo"
                            class="img-fluid"
                          />
                          <h4>Other Programs</h4>
                          <p style="color:black;">1</p>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
            </div>
            </div>
            </div>
            </div>
</section>
<div class="clearfix"></div>  

<section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Commercial and validity period</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
                <!-- <h3>Commercial and validity period</h3> -->
                <h4>ICT Academy of Kerala is forming a Premium membership programme with selected Engineering/ Science/ Management institutions in the state. The institutions will be selected based on a set of criteria, through an online application form from the interested colleges. The submission will be scrutinized by the ICTAK administration office and if required, will interact with the applying institutions for obtaining clarifications. Selected institutions will be provided with one year membership and will be provided with one year membership and will be supported by the ICTAK on a set of activities that will help the students, teachers and institutions at large.
                    The membership will be free for selected institutions.</h4>
            </div>
        </div>
        </div>
        </div>
        </div>
</section>

  <!-- ======= Trainers Section ======= -->
  <section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Our Technology Partners</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card" data-aos="fade-down" data-aos-delay="100">
                      <div class="card-image">
                        <a href="#">
                            <img src="https://images.ctfassets.net/5965pury2lcm/1OVj4PfkzVc4Vrm3IuDdAP/f415d995e5a286ddb2644cabafeb9578/UiPath-og-image-orange.png" class="img-fluid">
                        </a>
                      </div>
                      
                    </div>
                  </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://www.automationanywhere.com/logos/AAI_LOGO_1024.png" style="width:200px;height:250px;" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/evolving_google_identity_2x1.jpg" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://www.cnet.com/a/img/NmTo06FvEM6ZR9ld7a3_wlBKz7Y=/1200x675/2019/02/04/8311b046-6f2b-4b98-8036-e765f572efad/msft-microsoft-logo-2-3.jpg" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://s3-symbol-logo.tradingview.com/oracle--600.png" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://www.businessnewsdaily.com/images/i/000/015/216/original/salesforce.png" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="card" data-aos="fade-down" data-aos-delay="100">
                  <div class="card-image">
                    <a href="#">
                        <img src="https://www.linuxadictos.com/wp-content/uploads/vmware-logo.png" class="img-fluid">
                    </a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>  



  <!-- Section-5 contact design -->
 

