  <!-- Section-6 footer
  <footer>
    <div class="p-3 mt-5 copyright" id="copyright" >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 p-3 text-center text-lg-left mob-pb-0">
            <p class="my-0">Copyright © 2021 <a href="#">Life Coach</a> All Rights Reserved</p>
          </div>
          <div class="col-12 col-md-6 p-3 text-center text-lg-right mob-pt-0">
            <p>Designed by <a href="#" target=" _blank">CODE4EDUCATION</a>.</p>
          </div>
        </div>
      </div>
    </div>
</footer> -->


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Useful links</h4>
        <ul>
          <li><a href="#">Internship</a></li>
          <li><a href="#">ICTAK solutions</a></li>
          <li><a href="#">RESEARCH AND DEVELOPMENT</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Useful links</h4>
        <ul>
          <li><a href="#">Advisory Service</a></li>
          <li><a href="#">Enterpreneurship Development</a></li>
          
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

