<!-- <link rel="stylesheet" href="header.component.css"> -->

<div class="header" id="topheader">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar gradient fixed-top navbar-expand-lg navbar-dark  " [containerInside]="false">
    
        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" routerLink="admin"><img src="../../../assets/img/ictak.png" style="max-width: 55px;"></a></mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" routerLink="" mdbWavesEffect> <span>Home</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="about" mdbWavesEffect> <span>About</span> </a>
            </li>
      
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Courses</a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink=""> <span>Retail</span> </a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink=""> <span>Institutional</span></a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink=""> <span>Corporate</span></a>
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <span></span>  Offerings</a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink=""> <span>Partnership</span></a>
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink=""> <span>Membership</span> </a>
                
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="home" mdbWavesEffect>Home</a>
            </li>
      
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->
      
      </mdb-navbar>
      <!--/.Navbar-->
      <br><br>
       <section class="header-section" data-aos="fade-down" data-aos-delay="300">
            <div class="center-div">
                <p>Welcome to</p>
                <h1 class="font-weight-bold">ICT Academy Of Kerala</h1>  <br><br>  <br><br>
                <!-- <div class="header-buttons">
                    <a routerLink="admin">Welcome</a>
                </div> -->
            </div>
       </section> 
    </div>
      <!-- ////////////////////////////////////header ends/////////////////////////// -->
    
        
      <!-- ///////////////////////////////////3 course div starts//////////////////// -->
    
      <section class="header-extradiv">
        <div class="container">
            <div class="row">
                <div class=" extra-div col-lg-4 col-md-4 col-12"  data-aos="zoom-in" data-aos-delay="100">
                    <a href="#"><i class=" fa-3x fa fa-desktop" aria-hidden="true"></i></a>
                    <h2>RETAILS</h2>
                    <p>ICT Academy of Kerala has influenced thousands of students and 
                      teachers in the state and made them realize the significance of employability</p>
                </div>
    
                <div class="  extra-div col-lg-4 col-md-4 col-12"  data-aos="zoom-in" data-aos-delay="100">
                    <a href="#"><i class=" fa-3x fa fa-university" aria-hidden="true"></i></a>
                    <h2>INSTITUTIONAL</h2>
                    <p>ICT Academy of Kerala has influenced thousands of students and
                       teachers in the state and made them realize the significance of employability</p>
                </div>
    
                <div class=" extra-div col-lg-4 col-md-4 col-12"  data-aos="zoom-in" data-aos-delay="100">
                    <a href="#"><i class=" fa-3x fa fa-code" aria-hidden="true"></i></a>
                    <h2>CORPORATE</h2>
                    <p>ICT Academy of Kerala has influenced thousands of students and
                       teachers in the state and made them realize the significance of employability</p>
                </div>
            </div>
        </div>
    </section>
    
    
      <!-- ///////////////////////////////////3 course div ends//////////////////// -->
      
         <!-- ////////////////////////////offer section/////////////////////////// -->
         <section class="serviceffers" id="servicediv" >
            <div class="container headings text-center"  data-aos="fade-down" data-aos-delay="100">
                <h1 class="text-center font-weight-bold">Why to associate with us</h1>
                <p class="text-center">Government supported and Industry-led Program.
                    Government scholarships and affordable fees model.
                    One-stop shop for Students, Unemployed and Working professionals</p>
            </div> 
             
             <div class="container  ">
                <div class="row  asso">
                     <div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0" data-aos="fade-down-left" data-aos-delay="200">
    
                          <div class="names my-3">
                              <h1>html</h1>
                              <div class="progress w-75">
                              <div class="progress-bar progress-bar-striped
                               progress-bar-animated" style="width:100%">100%</div>
                              </div>
                          </div>
                    
    
                     <div class="names my-3">
                          <h1>CSS</h1>
                          <div class="progress w-75">
                             <div class="progress-bar progress-bar-striped
                              progress-bar-animated  bg-success" style="width:90%">90%</div>
                          </div>
                      </div>
    
                      <div class="names my-3">
                        <h1>JAVASCRIPT</h1>
                        <div class="progress w-75">
                           <div class="progress-bar progress-bar-striped
                            progress-bar-animated bg-warning" style="width:85%">80%</div>
                        </div>
                      </div>
    
                      <div class="names my-3">
                        <h1>REACT JS</h1>
                        <div class="progress w-75">
                           <div class="progress-bar progress-bar-striped
                            progress-bar-animated " style="width:75%">75%</div>
                        </div>
                      </div>
    
                      <div class="names my-3">
                        <h1>NODE JS</h1>
                        <div class="progress w-75">
                           <div class="progress-bar progress-bar-striped
                            progress-bar-animated bg-danger" style="width:80%">80%</div>
                        </div>
                      </div>
                 
    
    
    
    
                     </div>
    
                     <div class="col-lg-6 col-md-12 col-12 servicediv" data-aos="fade-down-left" data-aos-delay="100"> 
    
                      <div class="row">
                        <div class="col-lg-2 col-2 service-icons">
                              <i class="fa-3x fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-10">
                          <h2>Website Development</h2>
                          <p>Our state of the art web dovelopment courses are designed to make students Industry ready</p>
                        </div>
                    </div>
    
                          <div class="row">
                              <div class="col-lg-2 col-2 service-icons">
                                    <i class="fa-3x fa fa-wifi" aria-hidden="true"></i>
                              </div>
                              <div class="col-lg-10 col-10">
                                <h2>Digital Marketing</h2>
                                <p>Learn new age marketing skills from leading industry experts</p>
                              </div>
                          </div>
    
                          <div class="row">
                            <div class="col-lg-2 col-2 service-icons">
                                  <i class="fa-3x fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-10 col-10">
                              <h2>Support 24/7</h2>
                              <p>Round the clock assistance for students</p>
                            </div>
                        </div>
    
    
                   </div>
                </div>
            </div>
         </section>
         
         <!-- ////////////////////////////offer section/////////////////////////// -->
    
      
      
      <!-- //////////PATRONS SECTION////////////// -->
      <section class="companies" data-aos="fade-up" data-aos-delay="200">
        <div class="container headings text-center">
          <h1 class="text-center font-weight-bold">PATRONS</h1><BR>
          <!-- <p class="text-center">lsjvjjdsvojodfhbhjfdsnjknvjhdfjvjsdnvj</p> -->
      </div> 
        <br> <br> 
        <div class="container text-center">
          <div class="row g-5">
            <div class="col-md-2 imgp" >
                <div class='crop'> <img class='img'style=" max-width:120px"
                src="https://3.bp.blogspot.com/-fJZ5dsCju8E/ThsGlhQR6aI/AAAAAAAAAFw/NLASYOVs7ZA/s1600/Kerala+Govt+Logo.jpg"
                alt="Company logo"
                class="img-fluid"
              /></div>
            </div><br><br> <br> 
            <div class="col-md-2 imgp">
                <div class='crop'> <img class='img'style=" max-width:120px"                src="https://newzznow.com/wp-content/uploads/2021/06/UST_Logo.jpg"
                alt="Company logo"
                class="img-fluid"
              /></div>
            </div>
            <div class="col-md-2 imgp" >
                <div class='crop'> <img class='img'style=" max-width:120px"                src="https://images.moneycontrol.com/static-mcnews/2019/05/Tata_Consultancy_Services-770x433.jpg?impolicy=website&width=770&height=431"
                alt="Company logo"
                class="img-fluid"
              /></div>
            </div>
            <div class="col-md-2 imgp">
                <div class='crop'> <img class='img'style=" max-width:120px"                src="https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-anfegbfra3ee1mvanbf11fr9a2-20170916014937.Medi.jpeg"
                alt="Company logo"
                class="img-fluid"
              /></div>
            </div>
            <div class="col-md-2 imgp">
                <div class='crop'> <img class='img'style=" max-width:120px"
                src="https://image.slidesharecdn.com/ibssoftware-170715023707/95/ibs-software-1-638.jpg?cb=1500086275"
                alt="Company logo"
                class="img-fluid"
              /></div>
            </div>
            <div class="col-md-2 imgp">
                <div class='crop'> <img class='img'style=" max-width:120px"
                src="https://qphs.fs.quoracdn.net/main-qimg-0d627e584394cf0aa605d508b471b86a"
                alt="Company logo"
                class="img-fluid"
              /></div></div>
            <!-- </div> -->
            
          </div>
        </div>
        <br> <br> 
      </section>
      <!-- ///////////END//////////////////////// -->
      
      <!-- ////////////////////IMPORTANT COURSES//////////////// --><br> <br> <br> <br> 
      <section>
        <div class="container headings text-center" data-aos="flip-right" data-aos-delay="100">
          <h1 class="text-center font-weight-bold">SOME IMPORTANT COURSES</h1><BR>
          <p class="text-center">lsjvjjdsvojodfhbhjfdsnjknvjhdfjvjsdnvj</p>
      </div> 
        <div class="cards">
          <div class="card card1">
              <div class="container course ">
                  <img src="../../../assets/img/c3.png" alt="las vegas">
              </div>
              <div class="details">
                  <h3>Full Stack</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium 
                      dignissimos, minus aperiam adipisci exercitationem.</p><a routerLink='details'>Read more</a>
              </div>
          </div>
          <div class="card card2">
              <div class="container course">
                  <img src="../../../assets/img/c4 - Copy.png" alt="New York">
              </div>
              <div class="details">
                  <h3>MEAN</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Praesentium dignissimos, minus aperiam adipisci exercitationem.</p><a routerLink='details'>Read more</a>
              </div>
          </div>
          <div class="card card3">
              <div class="container course">
                  <img src="../../../assets/img/c4 - Copy.png" alt="Singapore">
              </div>
              <div class="details">
                  <h3>MERN</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Praesentium dignissimos, minus aperiam adipisci exercitationem.</p><a routerLink='details'>Read more</a>
              </div>
          </div>
    
          <div class="card card3">
              <div class="container course">
                  <img src="../../../assets/img/c3.png" alt="Singapore">
              </div>
              <div class="details">
                  <h3>MEAN stack</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Praesentium dignissimos, minus aperiam adipisci exercitationem.</p><a routerLink='details'>Read more</a>
              </div>
          </div>
      </div>
      </section>
       <!-- ////////////////////IMPORTANT COURSES ENDS//////////////// -->
    
    
       <br> <br> <br> <br> <br> <br> 
      
      <!-- ///////////////TESTIMONIALS///////////////////// -->
    <section>
    
       
      <div class="container headings text-center">
        <h1 class="text-center font-weight-bold">TESTIMONIALS</h1>
        <!-- <p class="text-center">lsjvjjdsvojodfhbhjfdsnjknvjhdfjvjsdnvj</p> -->
    </div> <br><br>
    
    <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-12">
              <!-- <div id="testimonial-slider" class="owl-carousel"> -->
    
    
    
      <owl-carousel-o [options]=" testimonialSlider">
        <ng-template carouselSlide>
    
          <div class="testimonial-image">
            <img src="../../../assets/img/dr.sudhabalagopalan.jpg" alt="testimonial">
          </div>
    
          <div class="testimonial-content">
            <h2> Dr.Sudha Balagopalan</h2>
            <h3>Manager</h3>
            <p>"It was our proud privilege to be associated with ICTAK for the last full year. While it was a great 
              learning experience for our institution, we were also impressed by the dedication and professionalism,
               each opportunity, be it training sessions or placement initiatives ICTAK brought to the students and 
               staff. The high quality delivery and reach ICTAK gave our institution is viewed with gratitude and
                honor. Personally, every meeting that I attended left me enriched 
              and growing and I take this opportunity for extending our warm wishes and many many
               glorious years together"
    
            </p>
           
          </div>
        </ng-template>  
    <!-- ////////////////////////////////////////////////////// -->
    
    <ng-template carouselSlide>
    
      <div class="testimonial-image">
        <img src="../../../assets/img/dr.syamprakash.jpg" alt="testimonial">
      </div>
    
      <div class="testimonial-content">
        <h2> Dr. Syam Prakash</h2>
        <h3>Principal, GCE Kannur</h3>
        <p>"Extremely happy to see that GCE Kannur is the first Government College signed MoU with 
          ICT Academy and derived total benefit to the entire students and faculty by conducting largest
           number of programmes. We were looking for well-designed programmes for our Institute and at
            that point of time ICT Academy was established and it helped us to make our expectations to reality. 
          Hope that ICT Academy will explore all possible avenues for the fullest satisfaction of higher
           education sector."
    
        </p>
       
      </div>
    </ng-template> 
    
       
        
        <!-- /////////////////////////////////////////////////// -->
        
        <ng-template carouselSlide>
    
          <div class="testimonial-image">
            <img src="../../../assets/img/mr.naseef.jpg" alt="testimonial">
          </div>
    
          <div class="testimonial-content">
            <h2>Mr.Naseef</h2>
            <!-- <h3>Manager</h3> -->
            <p>Firstly, Special thanks to ICT ACADEMY-CALICUT Branch. This course teach me a lot of things to
              becoming Fullstack  developer. Important topic is covered in this course as both server-side and 
              client-side ,Node js, Express js, MongoDb, Angular js, HTML, CSS, Python, etc. They really teach 
              what do we need to know and their application on real world problem. There are projects that 
              student can learn to improve their skill. This is the best course to learn Fullstack development , 
              great teacher. Every step of code is explained, and even better thing is that all those explanations 
    
            </p>
           
          </div>
        </ng-template> 
        <!-- ////////////////////////////////////////////// -->
        
    
        <ng-template carouselSlide>
    
          <div class="testimonial-image">
            <img src="../../../assets/img/dr.ksdivakarannair - Copy.jpg" alt="testimonial">
          </div>
    
          <div class="testimonial-content text-center">
            <h2>Dr. K.S Divakaran Nair</h2>
            <h3>Director, SNGIST</h3>
            <p>"ICT Academy of Kerala, professionally managed by a team of committed leaders offers various 
              trainings and development programmes for students and teachers for engineering colleges. ICT Academy 
              of Kerala has influenced thousands of students and teachers in the state and made them realize the 
              significance of employability. ICTAK has made the member colleges proud of
              showcase their achievements. We at SNGIST, North Paravur wish ICTAK a very eventful and successful 
              year ahead."
    
            </p>
           
          </div>
        </ng-template> 
    
    
      </owl-carousel-o>
    
    </div>
    </div>
    </div>
    <!-- </div> -->
    
    </section> 
    
     
        
    
    
     
       
        <!-- ///////////////TESTIMONIALS ENDS///////////////////// -->







        
     <!-- ////////////////////contact us//////////// -->
     <br><br> <section id="contact">
        <div class="wrapper contact" >
          <div class="container">
            <div class="heading text-center"><br>
              <h5>Let’s Start a Conversation!</h5><br>
              <h2>Contact hear</h2><br><br><br><br>
            </div>
          </div>
          <div class="contact">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5">
                  <h4>Contact Info</h4><br>
                  <ul class="our-con-info list-unstyled" data-aos="fade-down-right" data-aos-delay="100">
                    <li class="d-flex align-items-center">
                      <i class="pr-3 fa fa-map-marker-alt"></i>
                      <p><a href="">L-9, Thejaswini Building, Technopark, Thiruvananthapuram, Kerala 695581.</a></p>
                    </li><br>
                    <li class="d-flex align-items-center">
                      <i class="pr-3 fa fa-phone"></i>
                      <p><a href=""> 0471 270 0811</a></p>
                    </li><br>
                    <li class="d-flex align-items-center">
                      <i class="pr-3 fa fa-envelope"></i>
                      <p><a href="">ictak@gmail.in</a></p>
                    </li> <br>
                  </ul>
                </div>
                <div class="col-lg-7 col-md-7 pt-lg-0 pt-md-0 pt-4" data-aos="flip-right" data-aos-delay="100">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                        </div><br>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                           <address class="textarea" name="message" cols="30" rows="4" id="message" placeholder="Enter your message"></address>
                        </div>
                      </div><br>
                      <div class="col-md-12"> 
                        <a class="main-btn"><i class="fa fa-rocket pr-3"></i> Send Message</a>
                      </div>
                    </div><br><br><br><br>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>