
 

  <!--  about design -->
  <section id="about">
    <div class="wrapper about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 left-wrapper">
            <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="800">
              <img src="https://us.123rf.com/450wm/merfin/merfin1904/merfin190402174/123917312-team-people-moving-business-invitation-and-corporate-party-design-training-courses-about-us-expert-t.jpg?ver=6" alt="about" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pt-md-5 right-wrapper">
            <div data-aos="fade-left" data-aos-delay="800">
              
                <h2>Premium Membership Form</h2>
                <p>

                    Existing Premium Member colleges (19-20 Academic Year) are requested to submit the membership renewal request. Click the Existing Member Renewal Form and submit needed details.
                    
                    New institutions are requested to submit the New membership Application form.
                    
                    For support / clarification feel free to call @ 8111840022 or write to us @ sreekumar.kv@ictkerala.org
                    </p>
                
            </div>
            <div data-aos="fade-right" data-aos-delay="800">
              
                <a routerLink="" class="main-btn  ">Registration Closed</a>
              
          </div>
            <!-- <div class="mt-5" data-aos="fade-up" data-aos-delay="100">
              <a href="#contact" class="main-btn  ">Explore More</a>
            </div> -->
          </div>
        </div> 
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-3 our Key focuses -->
  <section id="approach">
    <div class="wrapper approach">
      <div class="container">
        <div class="heading text-center">
         
          <h2>Our Key Focuses</h2>
        </div>
        <div class="approach-cards ">
          <div class="container align-items-center">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>S. No</th>
                        <th>Membership ID</th>
                        <th>Name of the Institution</th>
                        <th>Website address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>ICTAK/2021/PM/001</td>
                        <td>Ace College Of Engineering</td>
                        <td><a href="https://www.acetvm.com/">https://www.acetvm.com/</a></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>ICTAK/2021/PM/002</td>
                        <td>Adi Shankara Institute of Engineering and Technology, Kalady</td>
                        <td><a href="https://www.adishankara.ac.in/">https://www.adishankara.ac.in/</a></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>ICTAK/2021/PM/003</td>
                        <td>Ahalia School of Engineering and Technology</td>
                        <td><a href="https://ahalia.ac.in/">https://ahalia.ac.in/</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <!-- Section-4 Partners design -->
<!-- 
  <section id="partners" class="partners">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Partners</h2>
        <p>Industrial Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of industryPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      <div class="section-title">
        
        <p>Knowledge Partners</p>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let partnersArrays of knwdgPartnersArray"> <img src="{{partnersArrays.imgName}}" alt="Partners"></ng-template>  
         
        </owl-carousel-o>

      </div>

      
    </div>
  </section>
 
  <div class="clearfix"></div>   -->

  <!-- ======= Trainers Section ======= -->
  

