

<section class="container-fluid jumbotron tech-slider mb-0 pl-0 pr-0">
    <div class="row">
      <div data-aos="fade-right" data-aos-delay="800" class="welcome-text col-12 pt-5 mt-5">
        <!-- <h3 class="text-left red">"Hello World!"</h3> -->
        <h1 class="tech-image-effect text-uppercase text-left font-weight-bold red">Techathlon</h1>
      </div>

      <div data-aos="fade-left" data-aos-delay="800" class="col-12 mt-4 mb-4">
        <h3 class=" tech-welcome-description">
            Technical Skills Competition 
        </h3>
      </div>

     
    </div>
  </section>


  <section class="container-fluid tech-main-program text-white">
    
    <div class="row pb-5 pt-5 program justify-content-center">
      <div  class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
        <div data-aos="zoom-in" class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
          <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
            <i class="far fa-calendar-alt text-white"></i>
          </div>
       <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
            Registration
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
            18 - 28 February 2021
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
        <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
          <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
            <i class="far fa-calendar-alt   text-white"></i>
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
            Competition
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
            01 - 16 March 2021
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
        <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
          <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
            <i class="fas fa-rupee-sign text-white"></i>
          </div>
        <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
            Winner Price
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
            50,000 INR
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
        <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
          <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
            <i class="fas fa-rupee-sign text-white"></i>
          </div>
        <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
            1st Runner-up
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
            25,000 INR 
          </div>
        </div>
      </div>

      <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
        <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
          <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
            <i class="fas fa-rupee-sign text-white"></i>
          </div>
        <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
            2nd Runner-up
          </div>
          <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
            10,000 INR 
          </div>
        </div>
      </div>
      
       
      </div>
    </section>

<section class="event-description">

        <div class="container pt-5 pb-5">
          <div class="row">
            
           
              <div >
                
                 
                  <p data-aos="fade-left"  class="text-justify ">
                    'Techathlon' is an annual Technical Skills Competition organized by ICT Academy of Kerala. It’s a unique competition designed in-line with employability skills assessments conducted by global organizations. This is an event open to the undergraduate, graduate and postgraduate students where the participants can exhibit and depict their creativity, problem-solving, collaboration, communication and prototyping skills.
                    
                    </p>
                  
                  <p data-aos="fade-right" class="text-justify"> 
                    Techathlon 2021 is the 5th edition of this competition. The selected theme for this year is Leading the New Normal. The competition will have 5 events conducted for over two weeks. The various events for Techathlon 2021 are Hackathon, Codeathon, Courseathon, Interactive Quiz, and Digital Treasure Hunt.
                </p> 
                
                  
              </div>
             
            
         
          </div> 
        </div>
      
</section>




