<section id="about">
    <div class="wrapper about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 left-wrapper">
            <div class="mt-5" data-aos="fade-up" data-aos-delay="100">Academic Membership</div>
            <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="800">
                <a routerLink="/academicmembership"><img src="https://comps.gograph.com/chalkboard-and-professor-college-or-university-teacher-teach-at-blackboard-academic-teaching-cartoon-vector-illustration_gg105513780.jpg" alt="academic" class="img-fluid"></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pt-md-5 right-wrapper">
            <div class="mt-5" data-aos="fade-up" data-aos-delay="100">Corporate Membership</div>
            <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="800">
                <a routerLink="/corporatemembership"><img src="https://previews.123rf.com/images/iconicbestiary/iconicbestiary1612/iconicbestiary161200656/67654572-corporate-business-manager-explaining-quarter-report-data-to-directors-board-financial-results-prese.jpg" alt="corporate" class="img-fluid"></a>
              </div>
            <!-- <div class="mt-5" data-aos="fade-up" data-aos-delay="100">
              <a href="#contact" class="main-btn  ">Explore More</a>
            </div> -->
          </div>
        </div> 
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
