

        <section class="container-fluid jumbotron slider mb-0 pl-0 pr-0">
            <div class="row">
              <div data-aos="fade-right" data-aos-delay="800" class="welcome-text col-12 pt-5 mt-5">
                <!-- <h3 class="text-left red">"Hello World!"</h3> -->
                <h1 class="image-effect text-uppercase text-left font-weight-bold ">ICSET Conclave 2021</h1>
              </div>
    
              <div data-aos="fade-left" data-aos-delay="800" class="col-12 mt-4 mb-4">
                <h3 class=" welcome-description">
                    "Leading the New Normal"
                </h3>
              </div>
    
             
            </div>
          </section>


          <section class="container-fluid main-program text-white">
            
            <div class="row pb-5 pt-5 program justify-content-center">
              <div  class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
                <div data-aos="zoom-in" class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
                  <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
                    <i class="far fa-calendar-alt text-white"></i>
                  </div>
               
                  <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
                    15 & 16 March 2021
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
                <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
                  <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
                    <i class="fas fa-rupee-sign text-white"></i>
                  </div>
                  <!-- <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0  section-subtitle">
                    Fee
                  </div> -->
                  <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
                    No Registration Fee
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
                <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
                  <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
                    <i class="fas fa-link text-white"></i>
                  </div>
                
                  <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
                   <a target="_blank" href="https://ictkerala.org/icset2021/files/ICSET-2021-Schedule.pdf">Get Program Schedule</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-2 pr-0 pl-0 program-block-parent">
                <div data-aos="zoom-in"  class="program-block text-center row mb-5 p-4 bg-dark-light-custom">
                  <div class="col-sm-2 col-12 col-md-12 pr-0 pl-0">
                    <i class="fas fa-link text-white"></i>
                  </div>
                
                  <div class="col-sm-5 col-12 col-md-12 pr-0 pl-0">
                    <a target="_blank" href="https://ictkerala.org/icset2021/files/ICSET-2021-Speakers.pdf">Get Speakers List</a>
                  </div>
                </div>
              </div>
              
               
              </div>
            </section>

        <section class="event-description">

                <div class="container pt-5 pb-5">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 pt-5 pb-5">
                      <div class="about-img position-relative" data-aos="zoom-in" data-aos-delay="500">
                        <img src="https://internal-api-lark-file.larksuite.com/api/image/keys/img_v2_65bdfb8a-644e-4371-97a4-6fdcf093638h?message_id=6989127952680108038" alt="about" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pt-5">
                      <div >
                        
                         
                          <p data-aos="fade-left"  class="text-justify ">
                              The fifth edition of ICT Academy of Kerala’s International Conclave on Skills, Engineering & Technology (ICSET) is aimed at bringing closer the academia, industry, government and connected stakeholders at large, to discuss, deliberate and exchange ideas about skills, engineering and technology areas. This year's main theme is <span style="color: rgb(4, 82, 85);">'Leading the New Normal'</span> .
                            </p>
                            <br>
                          <p data-aos="fade-right" class="text-justify"> 
                            A chosen diaspora of eminent speakers from across the world would be speaking or presenting their ideas under four major sub-themes (a) Innovation and Entrepreneurship in the New Normal (b) Knowledge Economy - The New Normal Career Opportunities (c) Changing Lifestyle in the New Normal (d) Technology Impact to Business and life in New Normal. The programme will be useful for researchers, academicians, Industrialists and practitioners across the globe and pave ways to explore the subject areas in a collaborative environment.
                          </p> 
                        
                          
                      </div>
                     
                    
                    </div>
                  </div> 
                </div>
              
        </section>


       