<section class="container-fluid event-main-program text-white">
            
  <div class="row mt-5 pt-5 program justify-content-center">
    
      
    </div>
  </section>



<div class="container pt-5 pb-5">
  <div class="row">
      <div class="col-md-4">
          <div class="event-serviceBox">
              <h3>ICSET Conclave 2021</h3>
              <div class="service-icon">
                  <i class="fa fa-globe"></i>
              </div>
              <div class="service-content">
                  <p>
                    ICSET is the hallmark Academia-Industry collaboration event in the State that deliberates on multiple disciplines around a contemporary subject.
                  </p>
                  <a routerLink="/events/icset" class="btn btn-default">Read more</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="event-serviceBox">
            <h3>ICTAK Techathlon</h3>
            <div class="service-icon">
              <i class="fa fa-globe"></i>
            </div>
            <div class="service-content">
                <p>
                  'Techathlon' is an annual Technical Skills Competition designed in-line with employability skills assessments conducted by global organisations. 
                  <!-- ICSET is the hallmark Academia-Industry collaboration event in the State that deliberates on multiple disciplines around a contemporary subject. -->
                </p>
                <a routerLink="/events/techathlon"  class="btn btn-default">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="event-serviceBox">
          <h3>ICTAK Paper Presentation</h3>
          <div class="service-icon">
            <i class="fa fa-globe"></i>
          </div>
          <div class="service-content">
              <p>
                ICSET is a premier forum for the presentation of new advances and research results in the fields of Skills, Engineering & Technology. 
                <!-- ICSET is the hallmark Academia-Industry collaboration event in the State that deliberates on multiple disciplines around a contemporary subject. -->
              </p>
              <a routerLink="/events/paper_presentation" class="btn btn-default">Read more</a>
          </div>
      </div>
  </div>
  </div>
</div>



<section class="container-fluid event-end-program text-white">
            
  <div class="row mt-5  pt-5 program justify-content-center">
    
      
    </div>
  </section>


